
.container-fluid{
	padding-left: 0%;
	padding-right: 0%;
}

nav{
	padding-left: 5%;
}
*{
	font-family: 'Montserrat', sans-serif;
}
.navbar-inverse{
	background-color: #1D0048;
}
nav ul li{
	display: inline-block;
	color: #720750;
	font-weight: bold;
	padding-right: 5%;

}
.bg-comu{
		background-image: url("../img/pink.jpg");
		width: 100%;
		background-size: cover;

}
.text-white{
	color: white;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
h1{
	padding:0px;
	margin: 0px;
	text-transform: uppercase;
}
.nuesobs{
	background-color: #BD538D;
	color: white;
}
.mejoramos{
	background-color: #1D0048;
	color: white;
}
.blue{
	color: #1D0048;
}
.hr-w{
	width: 5%;
	border: solid white 2px;
}
.bg-cian{
	background-color: #CFE2F3;
}
.bg-white{
	background-color: A2D3FF;
}
.bg-pink{
	background-color: #F4CCCC;
}
.img-redon{
	border-radius: 100%;
	width: 70%;
	height: 250px;
}
.tex-alig-jus{
	text-align: justify;
}

.img-red2{
	width: 100%;
	border-radius: 100px;
	height: 170px;

}
.bg-azulf{
	background-color: #1D0048;
}